.container {
  padding: 2rem;
  font-size: 1.3rem;
  max-width: 48rem;
  margin: 0 auto;
}

.form {
  display: flex;
  margin-bottom: 2rem;
}
.underlined {
  position: relative;
  margin-right: 1rem;
  text-align: center;
  color:white;
}
.underlined:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 10.5rem;
  height: 14px;
  width: 50%;
  border: solid 2px #cb1829;
  border-color: #cb1829 transparent transparent transparent;
  border-radius: 80%;
}
.underlined::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 9rem;
  height: 20px;
  width: 60%;
  border: solid 2px blue;
  border-color: blue transparent transparent transparent;
  border-radius: 80%;
}

.form input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  /* box-shadow: 2px 2px 4px #82ed5c; */
  font-size: 1.3rem;
  outline: none;
  margin-right: 1rem;
}
.form input:focus{
  border: 2px solid #82ed5c;
}
.form button {
  padding: 1rem;
  border: 2px solid #50b32d;
  border-radius: 0.5rem;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.3rem;
  background-color: #82ed5c;
}
.form button:hover{
  background-color: #50b32d !important;
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
}
.bg{
 background-image: 
 linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('../public/bg.jpg');
 height:100vh;
 background-size: cover; 
}